body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}
footer{
  padding-top: 8px;
}
/*#chalForm {
  size: 30px;
  padding: 10px;
}*/

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

.space {
  padding-top: 85px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 30px;
}
#challengeForm{
  padding-top: 160px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 30px;
}

.challengeHeader{
  padding-top: 85px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 30px;
}
#logOut{
  bottom: inherit;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  /*padding: 14px 16px;*/
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}
/*Nav styling*/
md-tabs{
  margin-top: 200px;
}
 md-tabs md-ink-bar {
  background: white;
}
md-nav-bar md-nav-ink-bar {
  background: white;
}

table {
  margin-left:  auto;
  margin-right:auto;
}

.login-form {
  md-card {
    padding: 0!important;

    md-card-title {
      background-color: blue;
    }
  }
}

.md-small-tall {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
}

/*FLICITY STYLING*/

.gallery-cell {
  width: 100%;
  height: 400px;
  margin-left: 20px;
  background: #8C8;
  border-radius: 2.5em;
}
/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
/* big buttons, no circle */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

.sliderLink {
  display: block;
  text-align: center;
  line-height: 400px;
  font-size: 40px;
  color: white;
  outline: none;
  border: 0;
   text-decoration: none;
}

/*CARD FLIP ANIMATION*/

.face{
  box-shadow: 0 14px 28px rgba(0,0,0,0.35), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: .5em;
}

.flip {
  -webkit-perspective: 800;
   width: 90%;
   height: 200px;
    position: relative;
    left: -8px;
    margin: 20px auto;
    display: flex;

}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    background: #8C8;
    /*background: white;*/
    color: white;
    cursor: pointer;
}
