
<body layout="row">
  <div layout="column" flex>
    <md-toolbar class="md-medium-tall">
        <div class="md-toolbar-tools">
      <ul>
        <li><a href="#/user">User Home</a></li>
        <li><a href="#/activity">My Journey</a></li>
        <li><a href="#/challenge">Challenge Page</a></li>
      </ul>
    </div>
  </md-toolbar>

  <md-content layout="column" flex>
   <div flex layout="column">
  <table>
    <thead>
      <tr>
        <th>Challenge</th>
        <th>Difficulty</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="challenge in ac.journeyList">
        <td>{{challenge.title}}</td>
        <td>{{challenge.category}}</td>
      </tr>
    </tbody>
  </table>
</div>
</md-content>
</div>
</body>
