
<body layout="row">
  <div layout="column" flex>
    <md-toolbar class="md-small-tall" md-scroll-shrink="true">
        <div class="md-toolbar-tools">
          <md-nav-bar
            md-selected-nav-item="currentNavItem"
            nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#/challenge"  name="page1"><img src="../../styles/assets/kite_icon.png" style="width: 22px; height:22px;"></md-nav-item>
            <md-nav-item md-nav-href="#/activity" name="page2"><img src="../../styles/assets/journey_icon.png" style="width: 25px; height:25px;-webkit-filter: invert(100%);"></md-nav-item>
            <md-nav-item md-nav-href="#/user"name="page3"><img src="../../styles/assets/visual_icon.png" style="width: 20px; height:20px;"></md-nav-item>
            <md-nav-item md-nav-click="ac.userService.logout()">Log Out</md-nav-item>
          </md-nav-bar>
    </div>
  </md-toolbar>

  <!-- <md-content layout="column" flex>
   <div flex layout="column">
  <table>
    <thead>
      <tr>
        <th>Challenge</th>
        <th>Difficulty</th>
        <th>Date</th>
        <th>Times Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="challenge in ac.journeyList | orderBy:'id':true">
        <td>{{challenge.title}}</td>
        <td>{{challenge.category}}</td>
        <td>{{challenge.date}}</td>
        <td>{{challenge.count}}</td>
      </tr>
    </tbody>
  </table>
</div>
</md-content> -->
<md-content layout="column" flex>
 <div flex layout="column">
<table>
  <thead>
    USER CHALLENGES
    <tr>
      <th>Challenge</th>
      <th>Difficulty</th>
      <th>Date</th>
      <th>Times Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="challenge in ac.userChallengeList | orderBy:'id':true">
      <td>{{challenge.title}}</td>
      <td>{{challenge.category}}</td>
      <td>{{challenge.date}}</td>
      <td>{{challenge.count}}</td>
    </tr>
  </tbody>
</table>
</div>
</md-content>
<md-content layout="column" flex>
 <div flex layout="column">
<table>
  <thead>
    <tr>
      <th>Challenge</th>
      <th>Difficulty</th>
      <th>Date</th>
      <th>Times Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="challenge in ac.globalChallengeList | orderBy:'id':true">
      <td>{{challenge.title}}</td>
      <td>{{challenge.category}}</td>
      <td>{{challenge.date}}</td>
      <td>{{challenge.count}}</td>
    </tr>
  </tbody>
</table>
</div>
</md-content>
</div>
</body>
