<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <form name="challengeForm">
    <input type="text" placeholder="Challenge" ng-required="true" ng-model="cc.title">
    <select name="mySelect" ng-required="true" ng-model="cc.category">
       <option value="" selected>Select difficulty</option>
        <option ng-repeat="x in cc.difficulty" value={{x.level}}>{{x.level}}</option>
      </select>
    <button ng-disabled="challengeForm.$invalid || challengeForm.$pending"
     ng-click="cc.createChallenge(cc.title, cc.category)">Add Challenge</button>
  </form>
  <table>
    <thead>
      <tr>
        <th>Challenge</th>
        <th>Difficulty</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="challenge in cc.challengeList">
        <td>{{challenge.title}}</td>
        <td>{{challenge.category}}</td>
        <td><button ng-click="cc.deleteChallenge(challenge._id)">Remove</button></td>
        <td><button ng-click="cc.completeChallenge(challenge)">Done</button></td>
      </tr>
    </tbody>
  </table>
</div>
