<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <form ng-submit="cc.createChallenge(cc.title, cc.category)">
    <input type="text" name="" placeholder="title" ng-model="cc.title">
    <input type="text" name="" placeholder="category" ng-model="cc.category">
    <input type="submit" value="add challenge">
  </form>
  <table>
    <thead>
      <tr>
        <th>Challenge</th>
        <th>Difficulty</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="challenge in cc.challengeList">
        <td>{{challenge.title}}</td>
        <td>{{challenge.category}}</td>
        <td><button ng-click="cc.deleteChallenge(challenge._id)">Remove</button></td>
      </tr>
    </tbody>
  </table>
</div>
