<body layout="row">
  <div layout="column" flex>
    <md-toolbar class="md-small-tall">
        <div class="md-toolbar-tools" layout="row" layout-align="center" flex>
          <md-nav-bar
          md-selected-nav-item="currentNavItem"
          nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#/challenge" name="page1"><img src="../../styles/assets/kite_icon.png" style="width: 28px; height:28px;"></md-nav-item>
            <md-nav-item md-nav-href="#/activity" name="page2"><img src="../../styles/assets/journey_icon.png" style="width: 20px; height:20px;"></md-nav-item>
            <md-nav-item md-nav-href="#/user" name="page3"><img src="../../styles/assets/visual_icon.png" style="width: 20px; height:20px;"></md-nav-item>
          </md-nav-bar>
    </div>
    <div class="md-toolbar-tools" layout="row" layout-align="center" flex>
      <md-nav-bar
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="#/easy">Easy</md-nav-item>
        <md-nav-item md-nav-href="#/normal">Normal</md-nav-item>
        <md-nav-item md-nav-href="#/hard">Hard</md-nav-item>
      </md-nav-bar>
</div>
  </md-toolbar>
  <div >
    <md-content  id="challengeForm"layout="row"  layout-align="center ">
    <form name="challengeForm" layout-align="center" >
    <md-input-container flex>
           <label>Challenge</label>
           <input ng-required="true"  ng-model="cc.title">
         </md-input-container>
                <md-button type="submit" class="md-raised"  flex ng-disabled="challengeForm.$invalid || challengeForm.$pending"
                ng-click="cc.createChallenge(cc.title)">Submit</md-button>
            </form>
            </md-content>
  </div>

      <div class="flip" ng-repeat="challenge in cc.userChallengeList | orderBy:'id':true" >
        <div class="card" ng-class="{'flipped':isFlipped}"  >
        <md-card class="face front" >
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Challenge Front</span>
                    <span class="md-subhead">{{challenge.title}}</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="column" layout-align="end end">
                  <md-button ng-click="isFlipped=!isFlipped">Flip</md-button>
                  <md-button class="md-secondary" ng-click="cc.deleteChallenge(challenge)">Remove</md-button>
                  <md-button class="md-secondary" ng-click="cc.completeChallenge(challenge);isFlipped=!isFlipped">Done</md-button>
                </md-card-actions>
        </md-card>
        <md-card class="face back" >
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Challenge back</span>
                    <span class="md-subhead">{{challenge.title}}</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="isFlipped=!isFlipped">Flip</md-button>
                  <md-button class="md-secondary" ng-click="cc.deleteChallenge(challenge)">Remove</md-button>
                  <md-button class="md-secondary" ng-click="cc.completeChallenge(challenge)">Done</md-button>
                </md-card-actions>
        </md-card>
        </div>
      </div>
</body>
