
<body layout="row">
  <div layout="column" flex>
    <md-toolbar class="md-small-tall" md-scroll-shrink="true">
        <div class="md-toolbar-tools" layout="row" layout-align="center" flex>
      <md-nav-bar
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-href="#/challenge" name="page1"><img src="../../styles/assets/kite_icon.png" style="width: 22px; height:22px;"></md-nav-item >
        <md-nav-item md-nav-href="#/activity" name="page2"><img src="../../styles/assets/journey_icon.png" style="width: 20px; height:20px;"></md-nav-item>
        <md-nav-item md-nav-href="#/user" name="page3"><img src="../../styles/assets/visual_icon.png" style="width: 25px; height:25px;-webkit-filter: invert(100%);"></md-nav-item>
    </div>
  </md-toolbar>

  <md-content layout="column" flex>
   <div flex layout="column">
     <h1>CHARTS WITH DATA WILL BE HERE</h1>
</div>
</md-content>
</div>
</body>
